@page
@model Ecommerce.Pages.CatProveedores.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CatProveedore</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CatProveedore.CodProveedores" />
            <div class="form-group">
                <label asp-for="CatProveedore.Id" class="control-label"></label>
                <input asp-for="CatProveedore.Id" class="form-control" />
                <span asp-validation-for="CatProveedore.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatProveedore.MdUuid" class="control-label"></label>
                <input asp-for="CatProveedore.MdUuid" class="form-control" />
                <span asp-validation-for="CatProveedore.MdUuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatProveedore.MdDate" class="control-label"></label>
                <input asp-for="CatProveedore.MdDate" class="form-control" />
                <span asp-validation-for="CatProveedore.MdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatProveedore.Nombre" class="control-label"></label>
                <input asp-for="CatProveedore.Nombre" class="form-control" />
                <span asp-validation-for="CatProveedore.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatProveedore.Producto" class="control-label"></label>
                <input asp-for="CatProveedore.Producto" class="form-control" />
                <span asp-validation-for="CatProveedore.Producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatProveedore.Precio" class="control-label"></label>
                <input asp-for="CatProveedore.Precio" class="form-control" />
                <span asp-validation-for="CatProveedore.Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
