@page
@model Ecommerce.Pages.CatProductos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CatProducto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CatProducto.CodProducto" class="control-label"></label>
                <input asp-for="CatProducto.CodProducto" class="form-control" />
                <span asp-validation-for="CatProducto.CodProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatProducto.MdUuid" class="control-label"></label>
                <input asp-for="CatProducto.MdUuid" class="form-control" />
                <span asp-validation-for="CatProducto.MdUuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatProducto.MdDate" class="control-label"></label>
                <input asp-for="CatProducto.MdDate" class="form-control" />
                <span asp-validation-for="CatProducto.MdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatProducto.Tipo" class="control-label"></label>
                <input asp-for="CatProducto.Tipo" class="form-control" />
                <span asp-validation-for="CatProducto.Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatProducto.Precio" class="control-label"></label>
                <input asp-for="CatProducto.Precio" class="form-control" />
                <span asp-validation-for="CatProducto.Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatProducto.DescProducto" class="control-label"></label>
                <input asp-for="CatProducto.DescProducto" class="form-control" />
                <span asp-validation-for="CatProducto.DescProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
